@font-face {
  font-family: lakeshore;

  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/LAKESHOR-webfont.woff') format('woff'),
       url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
       url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');

  font-weight: normal;
  font-style: normal;
}
body
{
	color: white;
  background: rgb(145,172,198);
  background: linear-gradient(176deg, rgba(145,172,198,1) 43%, rgba(203,203,203,1) 100%);
}

h1 {
	color: black;
}

h2 {
	color: black;
}

h4 {
	color: red;
}

input {
  padding:7px 0 7px 25px;
  border-radius: 20px;
  border: 1px solid #dbdbdb;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  background-color: #f5f5f5;
  font-family:Arial;
}

button {
box-shadow: 3px 4px 0px 0px #91b8b3;
background:linear-gradient(to bottom, #9c9c9c 5%, #d6d6d6 100%);
background-color:#9c9c9c;
border-radius:15px;
border:1px solid #566963;
display:inline-block;
cursor:pointer;
color:#000000;
font-family:Arial;
padding:7px 25px;
text-decoration:none;
text-shadow:0px 1px 0px #2b665e;
transition-duration: 1s;
}
button:hover {
background:linear-gradient(to bottom, #d6d6d6 5%, #9c9c9c 100%);
background-color:#d6d6d6;
}
button:active {
position:relative;
top:1px;
}

.button_list {
  list-style: none;
}

.page_title {
  font-size: 30px;
  font-family: lakeshore;
}

  a
  {
    text-decoration: none;
        color: white;
  }
    a:hover {
        color: chartreuse;
    }
    .App {
        text-align: center;
        font-size: 20px;
    }
    .App button {
        background-color: blue;
        color: white;
        text-decoration: none;
        margin-right: 20px;
        margin-left: 20px;
        height: 60px;
        width: 200px;
        border-radius: 10px 10px;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .App button:hover {
        background-color: blue;
        color:  chartreuse;
        text-decoration: none;
        background-color: firebrick;
    }

.butt {
    background-color: blue;
    color: white;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
    height: 60px;
    width: 200px;
    border-radius: 10px 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

select {
    background-color: blue;
    color: white;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
    height: 60px;
    width: 200px;
    border-radius: 10px 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: black;
}

#navigation_link {
	color: black;
}

#navigation_link:hover {
	color: green;
}


.design{
    margin-top: 200px;
    text-align: center;
    font-family:'Baskerville Old Face';
    font-size: 22px;
    color:  burlywood;
    animation-name: cock;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
}

html, body {
  height: 100vh;
  overflow: auto;
}

.App {
  display: flex;
  flex-direction: column;
}

.header-info {
  flex: 0 1 auto;
}

#game-display-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

#board-container {
  width: 55%;
  height: 700px;
  overflow-x: auto;
  overflow-y: auto;
  margin: 10px;

}

#character-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 700px;
  margin: 10px;
  transition: transform 333ms ease-in-out;
}

#weapon-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 700px;
  margin: 10px;
  transition: transform 333ms ease-in-out;
}

#notifications-container{
  height: 700px;
  height: 15%;
}

#character-info-container > * {
  margin: 5px;
}

.add-object-button-container {
  align-items: center;
  justify-content: center;
}

.board {
  display: block;
  border-collapse: collapse;
}

.board_row {
  margin: 0px;
  padding: 0px;
  border: none;

  vertical-align: bottom;
  display: block;

}

.cell_wrap {
  margin: 0px;
  padding: 0px;
  position: relative;
}

.zone_text {
  color: black;
  position: absolute;
  top: 40%;
  left: 25%;
}

.chat {
  list-style: none;
  color: black;
  font-size: 15;
  font-weight: bold;
}

.notifications_list_element {
  margin-top: 5px;
}

.board_cell{
  float: left;
  vertical-align: bottom;
  display: inline-block;
  cursor:pointer;
  padding: 0px;
  margin: 0px;
}

.board_cell:hover {
  transform: scale(1.2);
}

.is-tiny {
  transform: scale(0.001);
  transition: transform 0ms;
}

.is-red {
  background: red
}
