@font-face {
  font-family: lakeshore;

  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/LAKESHOR-webfont.woff') format('woff'),
       url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
       url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');

  font-weight: normal;
  font-style: normal;
}
body
{
	background: rgb(29, 28, 28);
  position: relative;
}

#decor {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -5%;
  top: -5%;
  background-image: url("/images/start_page_decor.png");
}

#Squad_text {
  position: absolute;
width: 341px;
height: 106px;
left: 42%;
top: 20%;

color: rgba(94, 246, 255, 0.2);
font-family: Cornerita;
font-size: 96px;
font-weight: 100;
line-height: 110%;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;

-webkit-text-stroke: 1px rgb(94, 246, 255); /* Толщина и цвет обводки */

}

.login_modal {
  position: absolute;
  left: 33%;
  top: 35%;
}

.background_box {
  position: relative;
  width: 862px;
  height: 425px;
  left: 0%;
  right: 0.92%;
  top: 2.97%;
  bottom: 6.84%;

  border-left: 4px solid rgb(94, 246, 255);
  border-right: 4px solid rgb(94, 246, 255);
  border-top: 4px solid rgb(94, 246, 255);
  /* Центр интерфейса 2 */
  background: rgba(94, 246, 255, 0.2);
}

.modal_input_field {
  position: relative;
  left: 25%;
  width: 50%;
  height: 40px;

  border: 1px solid rgb(94, 246, 255);
  /* Бекграунт импута */
  background: rgba(228, 248, 246, 0.1);

  color: rgba(114, 169, 166, 0.5);
  font-family: PT Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}

#player_name {
  top: 8%;
}

#password {
  top: 16%;
}

#room_select {
  width: 25%;
  height: 40px;

  position: relative;
  left: -26%;
  top: 35%;

  border: 1px solid rgb(94, 246, 255);
/* Бекграунт импута */
background: rgba(228, 248, 246, 0.1);

color: rgba(114, 169, 166, 0.5);
font-family: PT Mono;
font-size: 18px;
font-weight: 400;
line-height: 130%;
letter-spacing: 0%;
text-align: left;
}

#admin_checkbox {
  position: relative;
  left: 5%;
  top: 20%;
  width: 30px;
  height: 25px;

  box-sizing: border-box;
border: 1px solid rgba(114, 169, 166, 0.5);
border-radius: 5px;
}

#checkbox_text {
  position: relative;
  left: 25%;
  top: -100%;

  color: rgba(114, 169, 166, 0.5);
font-family: PT Mono;
font-size: 18px;
font-weight: 400;
line-height: 130%;
letter-spacing: 0%;
text-align: left;
}

.modal_input_box {
  width: 23%;
  height: 40px;
  position: relative;
  left: 52%;
  top: 25%;

  border: 1px solid rgb(94, 246, 255);
/* Бекграунт импута */
background: rgba(228, 248, 246, 0.1);

color: rgba(114, 169, 166, 0.5);
font-family: PT Mono;
font-size: 18px;
font-weight: 400;
line-height: 130%;
letter-spacing: 0%;
text-align: left;
}

.red_button {
  /* Обводка интерфейса */
border: 1px solid rgb(211, 72, 104);
background: rgba(211, 72, 104, 0.2);
width: 280px;
height: 30px;

color: rgb(228, 248, 246);
font-family: PT Mono;
font-size: 18px;
font-weight: 400;
line-height: 130%;
letter-spacing: 0%;
text-align: center;
}
.red_button:hover {
background:linear-gradient(to bottom, #d6d6d6 5%, #9c9c9c 100%);
background-color:#d6d6d6;
}

#create_char_button {
  position: relative;
  left: 28%;
  top: 33%;
}

#sign_in_button {
  position: relative;
  left: -11.5%;
  top: 45%;

  width: 340px;
}

#calculator_button {
  position: relative;
  left: 28%;
  top: 35.5%;
  width: 50px;
  height: 29px;
}

h1 {
	color: black;
}

h2 {
	color: black;
}

h4 {
	color: red;
}


.button_list {
  list-style: none;
}

.page_title {
  font-size: 30px;
  font-family: lakeshore;
}

  a
  {
    text-decoration: none;
        color: white;
  }
    a:hover {
        color: chartreuse;
    }
    .App {
        text-align: center;
        font-size: 20px;
    }
    .App button {
        background-color: blue;
        color: white;
        text-decoration: none;
        margin-right: 20px;
        margin-left: 20px;
        height: 60px;
        width: 200px;
        border-radius: 10px 10px;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .App button:hover {
        background-color: blue;
        color:  chartreuse;
        text-decoration: none;
        background-color: firebrick;
    }

.butt {
    background-color: blue;
    color: white;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
    height: 60px;
    width: 200px;
    border-radius: 10px 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: black;
}

#navigation_link {
	color: black;
}

#navigation_link:hover {
	color: green;
}


.design{
    margin-top: 200px;
    text-align: center;
    font-family:'Baskerville Old Face';
    font-size: 22px;
    color:  burlywood;
    animation-name: cock;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
}

html, body {
  height: 100vh;
  overflow: auto;
}

.App {
  display: flex;
  flex-direction: column;
}

.header-info {
  flex: 0 1 auto;
}

.add-object-button-container {
  align-items: center;
  justify-content: center;
}

.board {
  display: block;
  border-collapse: collapse;
}

.board_row {
  margin: 0px;
  padding: 0px;
  border: none;

  vertical-align: bottom;
  display: block;

}

.cell_wrap {
  margin: 0px;
  padding: 0px;
  position: relative;
}

.zone_text {
  color: black;
  position: absolute;
  top: 40%;
  left: 25%;
}

.chat {
  list-style: none;
  color: black;
  font-size: 15;
  font-weight: bold;
}

.notifications_list_element {
  margin-top: 5px;
}

#weapon_mini_display {
  float: left;
  float: top;
}

.board_cell{
  float: left;
  vertical-align: bottom;
  display: inline-block;
  cursor:pointer;
  padding: 0px;
  margin: 0px;
}

.board_cell:hover {
  transform: scale(1.2);
}

.is-tiny {
  transform: scale(0.001);
  transition: transform 0ms;
}

.is-red {
  background: red
}
