@font-face {
  font-family: lakeshore;

  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/LAKESHOR-webfont.woff') format('woff'),
       url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
       url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');

  font-weight: normal;
  font-style: normal;
}
body
{
	background: rgb(29, 28, 28);
  position: relative;
}

#decor {
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/start_page_decor.png");
}

#Squad_text {
  position: absolute;
left: 42%;
top: 20%;

color: rgba(94, 246, 255, 0.2);
font-family: Cornerita;
font-size: 8vh;
font-weight: 100;
line-height: 110%;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;

-webkit-text-stroke: 1px rgb(94, 246, 255); /* Толщина и цвет обводки */

}

.login_modal {
  position: absolute;
  left: 33%;
  top: 37%;
}

.background_box {
  position: relative;
  width: 35vw;
  height: 30vh;

  border-left: 4px solid rgb(94, 246, 255);
  border-right: 4px solid rgb(94, 246, 255);
  border-top: 4px solid rgb(94, 246, 255);
  /* Центр интерфейса 2 */
  background: rgba(94, 246, 255, 0.2);
}

.modal_input_field {
  position: relative;
  left: 25%;
  width: 50%;
  height: 3vh;

  border: 1px solid rgb(94, 246, 255);
  /* Бекграунт импута */
  background: rgba(228, 248, 246, 0.1);

  color: rgba(114, 169, 166, 0.5);
  font-family: PT Mono;
  font-size: 1.5vh;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}

#player_name {
  top: 8%;
}

#password {
  top: 16%;
}

#room_select {
  width: 25%;
  height: 3vh;

  position: relative;
  left: -26%;
  top: 35%;

  border: 1px solid rgb(94, 246, 255);
/* Бекграунт импута */
background: rgba(228, 248, 246, 0.1);

color: rgba(114, 169, 166, 0.5);
font-family: PT Mono;
font-size: 1.5vh;
font-weight: 400;
line-height: 130%;
letter-spacing: 0%;
text-align: left;
}

#admin_checkbox {
  position: relative;
  left: 5%;
  top: 20%;
  width: 1.5vh;
  height: 1.5vh;

  box-sizing: border-box;
border: 1px solid rgba(114, 169, 166, 0.5);
border-radius: 5px;
}

#checkbox_text {
  position: relative;
  left: 25%;
  top: -3vh;

  color: rgba(114, 169, 166, 0.5);
font-family: PT Mono;
font-size: 1.5vh;
font-weight: 400;
line-height: 130%;
letter-spacing: 0%;
text-align: left;
}

.modal_input_box {
  width: 23%;
  height: 3vh;
  position: relative;
  left: 52%;
  top: 7.25vh;

  border: 1px solid rgb(94, 246, 255);
/* Бекграунт импута */
background: rgba(228, 248, 246, 0.1);

color: rgba(114, 169, 166, 0.5);
font-family: PT Mono;
font-size: 18px;
font-weight: 400;
line-height: 130%;
letter-spacing: 0%;
text-align: left;
}

.red_button {
  /* Обводка интерфейса */
border: 1px solid rgb(211, 72, 104);
background: rgba(211, 72, 104, 0.2);

color: rgb(228, 248, 246);
font-family: PT Mono;
font-size: 1.5vh;
font-weight: 400;
line-height: 130%;
letter-spacing: 0%;
text-align: center;
}
.red_button:hover {
background:linear-gradient(to bottom, #d6d6d6 5%, #9c9c9c 100%);
background-color:#d6d6d6;
}

#create_char_button {
  position: relative;
  left: 10vw;
  top: 8.5vh;
  width: 10vw;
  height: 3vh;
}

#sign_in_button {
  position: relative;
  left: -2vw;
  top: 45%;

  width: 12vw;
  height: 3vh;
}

#calculator_button {
  position: relative;
  left: 10vw;
  top: 9.5vh;
  width: 1.5vw;
  height: 3vh;
}

h1 {
	color: black;
}

h2 {
	color: black;
}

h4 {
	color: red;
}

html, body {
  height: 100vh;
  overflow: auto;
}

.header-info {
  flex: 0 1 auto;
}
